<div class="panel panel-default">
   <div class="panel-body">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :Nombre %><br />
      <%= f.text_field :name, autofocus: true,  class: 'form-control' %>
    </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,  class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(Déjalo en blanco si no quieres cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off",  class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i>(Intruduce la actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off",  class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class: 'btn btn-primary'%>
  </div>
<% end %><br>
<h3>Cancelar mi cuenta</h3>

<p>Unhappy? <%= button_to "Borrar cuenta", registration_path(resource_name),
          data: { confirm: "¿Estás seguro?" }, method: :delete, class: 'btn btn-primary' %></p>

<%= link_to "Volver", :back %>

