<div class="panel panel-default">
  <div class="panel-heading"><h2>Crear cuenta</h2></div>
  <div class="panel-body">


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :nombre %><br />
      <%= f.text_field :name, autofocus: true,  class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email,  class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Registrarse", class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
  <div class="panel-footer"><%= render "devise/shared/links" %></div>
</div>

