
<%= form_for @pin,  html: {multipart: true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> No se ha podido guardar el pin:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%#= f.label :image %>
    <%= f.label :filepicker_url, "Subir imagen:" %>
    <div> <%#= f.file_field :image, class: "form-control" %>
      <%= filepicker_js_include_tag %>
      <%= f.filepicker_field :filepicker_url, button_text: "Select", button_class: "btn btn-default",
                 mimetypes:'image/*'  %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit  "Create", class: 'btn btn-primary'%>
  </div>
<% end %>
