
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
 <nav class="navbar navbar-default navbar_bg" role="navigation">
   <div class="container">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
      <%= link_to 'Galería', pins_path, class: 'navbar-brand' %>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

       <ul class="nav navbar-nav navbar-right">

         <li><%= link_to 'Home', root_path %></li>
         <li><%= link_to "Mostrar Pins", pins_path %></li>

          <% if user_signed_in? %>
            <li><%= link_to current_user.name, edit_user_registration_path %></li>
            <li><%= link_to 'Añadir Pin', new_pin_path %></li>
            <li><%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
            <%# if current_user.admin? %>
            <!--<li><%#= link_to 'Usuarios', home_index_path %></li>-->
            <%# end %>
          <% else %>
            <li><%= link_to "Entrar", new_user_session_path %></li>
            <li><%= link_to "Registrarse", new_user_registration_path %></li>
          <% end %>
       </ul>

     </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
 </nav>



