<div class="panel panel-default">
  <div class="panel-heading"><h2>Editar Pin</h2></div>
  <div class="panel-body">

    <%= render 'form' %>

    <%= link_to 'Mostrar', @pin %> |
    <%= link_to 'Volver', pins_path %>

  </div>
</div>
