
<!-- Hay que cargarlo al principio para que se incluya antes del contenido del body -->
<%= javascript_include_tag 'bootstrap-waterfall' %>
<script>
  $(document).ready(function () {
        $('#waterfall-container').waterfall();
  });
</script>

 <div id="waterfall-container" class="transitions-enabled">
   <% @pins.each do |pin| %>
   <div class="box">
     <div class="panel panel-default">

       <%#= link_to image_tag(pin.image.url(:medium)), pin, class: 'img-responsive' %>
       <%= link_to (filepicker_image_tag pin.filepicker_url, w: 300, h: 300, fit: 'clip'), pin %><br/>

       <div class="panel-body">
         <%= truncate(pin.description, length:20) { link_to "Ver más", pin, class: "lik"}%><br/>
         <span class="has-tooltip" data-toggle="tooltip" title="<%= "Created on #{pin.created_at.strftime("%d/%m/%Y at %w:%M %p")}" %>">
          <strong><%= pin.user.name if pin.user %> </strong>
        </span><br/>
      </div> <!-- div panel-body -->

      <% if pin.user == current_user  ||  current_user.try(:admin?) %>

      <div class="panel-footer">
       <%= link_to 'Editar', edit_pin_path(pin) %><br/>
       <%= link_to 'Borrar', pin, method: :delete, data: { confirm: '¿Estás seguro?' } %>
     </div>

     <% end %>
   </div> <!-- div panel panel-default -->
   </div>  <!-- div box -->
 <% end %>
</div>
</div> <!-- div -->
<div class="center">
 <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>


