
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Nuevo Pin</h2>
  </div>
  <div class="panel-body">

    <%= render 'form' %><br>
    <%= link_to 'Volver', pins_path, class: 'lik' %>

  </div>
</div>