<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%#= image_tag @pin.image.url(:medium), class: 'img-responsive' %>
        <%= filepicker_image_tag @pin.filepicker_url, w: 500, h: 500, fit: 'clip' %>
      </div>
      <div class="panel-body">
        <%= @pin.description %><br/>
        <strong><br/><%= @pin.user.name %></strong><br/>
        <i><%= @pin.user.updated_at.strftime("%d/%m/%Y at %w:%M %p") %></i><br/>

        <% if @pin.user == current_user %>
          <%= link_to 'Editar', edit_pin_path(@pin), class: 'lik' %> |
        <% end %>
        <%= link_to 'Volver', pins_path(@pin), class: 'lik' %>
      </div>
    </div>
  </div>
</div>

