
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<!--<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>-->
 <!-- Navigation -->
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
         <i class="fa fa-bars"></i>
       </button>
       <a class="navbar-brand page-scroll" href="#page-top">
         <i class="fa fa-play-circle"></i> <span class="light"></span> Home
       </a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
       <ul class="nav navbar-nav">
         <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
         <li class="hidden">
           <a href="#page-top"></a>
         </li>
         <li>
           <a class="page-scroll" href="#about">Acerca de</a>
         </li>
    <li>
     <a class="page-scroll" href="#download2">Descargar CV</a>
    </li>
    <li>
     <a class="page-scroll" href="#contact2">Contacto</a>
    </li>
     <li>
      <%= link_to 'Galería', pins_path %>
     </li>
    </ul>
    </div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
 <div class="intro-body">
   <div class="container">
     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <h2 class="brand-heading">Pinnacle</h2>
         <p class="intro-text"> "Tanto los sabios como los necios se vuelven arrogantes cuando reciben alabanzas."  Yamamoto Tsunetomo</p>
         <a href="#about" class="btn btn-circle page-scroll pulse">
           <i class="fa fa-angle-double-down"></i>
         </a>
       </div>
     </div>
   </div>
 </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
 <div class="row">
   <div class="col-lg-8 col-lg-offset-2">
     <h2>Acerca de</h2>
     <p>Estás viéndo una aplicación web que ha sido desarrollada con el framework  <a href="http://rubyonrails.org/">Ruby on Rails</a> basado en el lenguaje de programación interpretado <a href="https://www.ruby-lang.org/">Ruby</a>. </p>
     <p>Rails es un framework del lado del servidor que utiliza el paradigma <b>(MVC)</b> Modelo-Vista-Controlador que permite implementar un diseño más claro y un desarrollo más diferenciado y eficaz.</p>
     <p></p>
   </div>
 </div>
</section>

<!-- Download SASS Section -->
<section id="download2" class="content-section text-center">
 <div class="download-section">
   <div class="container">
     <div class="col-lg-8 col-lg-offset-2">
       <h2>Experiencia profesional</h2>
       <p>Si te interesa conocer mi andadura profesional puedes descargar mi Currículum Vitae desde el siguiente enlace:</p>
       <!--<a href="" class=" btn btn-default btn-lg">Descargar CV</a>-->
      <a href="mailto:cdsys@protonmail.com"><i class="fa fa-file-pdf-o fa-3x"></i></a>

     </div>
   </div>
 </div>
</section>

<!-- Contact Section -->
<section id="contact2" class="container content-section text-center">
 <div class="row">
   <div class="col-lg-8 col-lg-offset-2">
     <h2>Contacto</h2>
     <p>Para cualquier pregunta o si deseas asesoramiento sobre alguna cuestión informática en concreto, puedes contactar conmigo enviandome un email.  </p>

     <p>
     <!--<a href="mailto:cdsys@protonmail.com">Correo Electrónico</a> -->
     <a href="mailto:cdsys@protonmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
     <ul class="list-inline banner-social-buttons">

       <li>
        <a href="https://bitbucket.org/kalasni" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-bitbucket"></i> <span class="network-name">Bbucket</span></a>
       </li>
       <li>
         <a href="https://github.com/kalasni" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">GitHub</span></a>
       </li>
     </ul>
   </div>
 </div>
</section>


<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
 <div class="container text-center">
   <p>Copyright &copy; Pinnacle 2016</p>
 </div>
</footer>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>




