
$link-color: #219ab3;
$brand-primary: #219ab3;
$body-bg: #e9e9e9;  /* Background color  */
$navbar-default-brand-color: #eee;
$navbar-default-bg: #000;
$navbar-height: 20px;
$pagination-active-bg: #219ab3;
$pagination-active-border: #219ab3;


/* @import 'masonry/transitions'; */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'grayscale';
@import '../../../grayscale-sass/assets/sass/main.scss';
@import 'bootstraply';
@import 'pins';
/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");*/


.body_bg {
  background-color: $body-bg;
  color: #494949;
}

/*body { padding-top: 70px; }*/

.form-group{
  color: #3b3b3b;
}

 .form-group .btn-default:hover{
    background-color: rgba(230, 230, 230, 0);
    border-color: #176e7f;
    color: #176e7f;;
}


/*.pagination pagination{
  margin-top: 15px;
  float:both;
} */

  /*  NAVBAR */

.navbar_bg{
  background-color: $navbar-default-bg;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar_brand{
  color: $navbar-default-brand-color;
}

.navbar-default .navbar-nav > li > a {
    color:#9c9c9c;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default
 .navbar-nav > li > a:focus{
    background-color: #1E1E1E;
    color: #C9C9C9;
}


/* Styling for devise links in footer */

.panel-footer a{
  color: $link-color ;
}

.panel-footer a:hover{
  color: #145b6a
}

/***** end ******/

.lik{
  color: $link-color ;
}

.lik:hover{
  color: #145b6a;
}

.tooltip{
  color: #eee !important;
}










