// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
 }

.box {
  margin: 5px;
  width: 214px;
  /*float: left;*/
}

.box img {
  width: 100%;
}

 /* Styling for italic datatime format */
 .panel-body i{
  color: #898989;
 }


