<!DOCTYPE html>
<html>
<head>
  <title>Galería | Pinnacle</title>
  <%= stylesheet_link_tag   'application', 'bootstraply', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="body_bg">

  <%= render 'pins/header' %>
 <div class="container">
   <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
   <% end %>
    <%= yield %>

  </div>
</body>
</html>
