 <!DOCTYPE html>
<html>
<head>
 <title>Pinnacle | Página personal desarrollada con Ruby on Rails</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
  <!--<%= filepicker_js_include_tag %>-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<%= yield %>
 <%= javascript_include_tag 'application' , 'data-turbolinks-track' => true %>
</body>
</html>